@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@* <h1>Login: -</h1> *@
<form id="loginForm" class="form" asp-action="Login_Model" method="post" asp-controller="Admin">
    <h2>Login :-</h2>
    <input type="text" name="userName" placeholder="Username/email.." required>
    <small id="emailHelp" class="form-text text-muted">
        We'll never share your email with anyone else.
    </small><br>
    <input type="password" name="password" placeholder="Password" required>

    <button type="submit">Login</button>
</form>

