@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layoutBooks";
}
@* @if (model is null)
{
    <p>No Books is found withi this Id </p>

}
else 
{ *@
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="EditBook" asp-controller="Books" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Insert ID To Edit</label>
                            <input type="text" class="form-control" name="Id" readonly>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="Title" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>Author</label>
                            <input type="text" name="Author" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>ISBN</label>
                            <input type="number" name="ISBN" class="form-control" >
                        </div>
                        <div class="form-group">
                            @* <input type="checkbox" name="Availability" class="form-check-input" required> *@
                            <label class="form-check-label">Availability</label>
                            <label>
                                <input type="radio" name="Availability" value="true" class="form-control" /> Yes
                            </label>
                            <label>
                                <input type="radio" name="Availability" value="false" class="form-control" /> No
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>

@* } *@